.page-header
  %h1
    = t('about.title')
    %small= t('about.subtitle')

.well
  = raw t('about.what_it_is')

%ul.thumbnails
  %li.span4
    .thumbnail
      = image_tag "conf1.jpg"
      .caption
        %h3= t('about.accept_requests')
        %p= t('about.accept_requests_desc')
  %li.span4
    .thumbnail
      = image_tag "conf1.jpg"
      .caption
        %h3= t('about.post_newsletters')
        %p= t('about.post_newsletters_desc')
  %li.span4
    .thumbnail
      = image_tag "conf1.jpg"
      .caption
        %h3= t('about.upload_files')
        %p= t('about.upload_files_desc')
  %li.span4
    .thumbnail
      = image_tag "conf1.jpg"
      .caption
        %h3= t('about.news_list')
        %p= t('about.news_list_desc')
  %li.span4
    .thumbnail
      = image_tag "conf1.jpg"
      .caption
        %h3= t('about.custom_pages')
        %p= t('about.custom_pages_desc')
  %li.span4
    .thumbnail
      = image_tag "conf1.jpg"
      .caption
        %h3= t('about.domain_free')
        %p= t('about.domain_free_desc')

