.hero-unit
  %h1
    www.vsuconf.ru
  %p
    = t('main.about')
  %p
    = link_to t('main.learn_more'), "#", class: "btn btn-primary btn-large"

%ul.thumbnails
  - @conferences.each do |conf|
    %li.span4
      .thumbnail
        = image_tag "conf1.jpg"
        .caption
          = conference_site_link(conf) do
            %h3= conf.name
          %p= conf.description
