.well
  = semantic_form_for @conference do |f|
    = f.inputs do
      = f.input :logo, label: t('conference.form.logo')
      = f.input :name, label: t('conference.form.name')
      = f.input :domain, label: t('conference.form.domain'), hint: t('conference.form.hints.domain')
      = f.input :start_date, as: :string, input_html: { class: "datepicker" }, label: t('conference.form.start_date')
      = f.input :end_date, as: :string, input_html: { class: "datepicker" }, label: t('conference.form.end_date')
      = f.input :registrable_until, as: :string, input_html: { class: "datepicker" }, label: t('conference.form.registrable_until')
      = f.input :max_guests, label: t('conference.form.max_guests')
      = f.input :description, label: t('conference.form.description')
      = f.input :theme
      = f.input :notify_email
      = f.input :address
      = f.input :phone
      = f.input :public_email
      = f.input :additional_info
    = f.actions do
      = f.action :submit, button_html: { class: "btn btn-success" }, label: t('conference.form.submit')


