.well
  %table.devise
    %tr
      %td
        %h2= t('password.edit')
        = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), method: :put) do |f|
          = f.inputs do
            = f.input :reset_password_token, as: :hidden
            = f.input :password, label: t('registration.password')
            = f.input :password_confirmation, label: t('registration.password_confirmation')
          = f.actions do
            = f.action :submit, button_html: { class: "btn btn-large btn-primary" }, label: t('password.submit')
      %td.shared-links{ valign: "top" }
        = render "devise/shared/links"
