.well
  %table.devise
    %tr
      %td
        %h2= t("password.reset")
        = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = f.inputs do
            = f.input :email, label: t('password.email')
          = f.actions do
            = f.action :submit, button_html: { class: "btn btn-large btn-primary"}, label: t('password.reset_my_pass')
      %td.shared-links{ valign: "top" }
        = render "devise/shared/links"
