- if can? :create, Conference
  .well
    %p= t("conference.new_conf_about")
    .add-conference-link
      = link_to t('conference.add'), new_conference_path, class: "btn btn-primary"

.b-conferences__nav
  %ul.nav.nav-tabs
    %li.future.active
      = link_to t("conference.nav.future"), "#", class: "future"
    %li.past
      = link_to t("conference.nav.past"), "#", class: "past"
    %li.all
      = link_to t("conference.nav.all"), "#", class: "all"

.b-conferences__list
  %table.table.table-bordered.future
    %thead
      %tr
        %th= t('conference.name')
        %th= t('conference.date')
        %th= t('conference.register_until')
        %th= t('conference.members_num')
        %th= t('conference.registration')
    %tbody
      = render partial: "conference", collection: @future_conferences

  %table.table.table-bordered.past.hidden
    %thead
      %tr
        %th= t('conference.name')
        %th= t('conference.date')
        %th= t('conference.register_until')
        %th= t('conference.members_num')
        %th= t('conference.registration')
    %tbody
      = render partial: "conference", collection: @past_conferences

  %table.table.table-bordered.all.hidden
    %thead
      %tr
        %th= t('conference.name')
        %th= t('conference.date')
        %th= t('conference.register_until')
        %th= t('conference.members_num')
        %th= t('conference.registration')
    %tbody
      = render partial: "conference", collection: @all_conferences
