%tr{ class: "#{conference.approved? ? 'approved' : 'pending' }" }
  %td= conference.name
  %td= conference.domain
  %td= conference.description
  %td= human_date_with_time(conference.start_date)
  %td= human_date_with_time(conference.end_date)
  %td= human_date_with_time(conference.registrable_until)
  %td= conference.max_guests
  %td
    - unless conference.approved?
      = link_to approve_admin_conference_path(conference), method: :put, confirm: t("admin.conferences.confirm.approve") do
        %i.icon-ok
    = link_to edit_admin_conference_path(conference) do
      %i.icon-edit
    = link_to admin_conference_path(conference), method: :delete, confirm: t("admin.conferences.confirm.remove") do
      %i.icon-remove

