.well
  = semantic_form_for @page do |f|
    = f.inputs do
      = f.input :title, label: t('projects.pages.title')
      = f.input :permalink, label: t('projects.pages.permalink')
      = f.input :body, label: t('projects.pages.body')
      = f.input :display_in_menu, label: t('projects.pages.display_in_menu')
    = f.actions do
      = f.action :submit, button_html: { class: "btn btn-success" }, label: t('projects.pages.submit')
