%h3= t('admin.logs.title')

%ul.nav.nav-tabs
  %li{class: "#{@type == 'user' ? 'active' : ''}"}
    = link_to t("admin.logs.nav.user"), admin_logs_path(type: "user")
  %li{class: "#{@type == 'conference' ? 'active' : ''}"}
    = link_to t("admin.logs.nav.conference"), admin_logs_path(type: "conference")

%table.table.table-bordered.tablesorter.tablesorter-default
  %thead
    %tr
      %th
        ID
      %th= t('admin.logs.model')
      %th= t('admin.logs.action')
      %th= t('admin.logs.actor')
      %th= t('admin.logs.date')
      %th= t('admin.logs.ip_address')
  %tbody
    - @audits.each do |audit|
      %tr
        %td= audit.id
        %td= auditable_name(audit)
        %td= audit_action(audit)
        %td= audit_actor(audit)
        %td= human_date_with_time(audit.created_at)
        %td= audit.remote_address
