.well
  %h3= t('projects.feedbacks.contact_us')
  %p= t('projects.feedbacks.how_to_contact')
%address
  %strong= @conference.address
  %br
  = @conference.phone
  %br
  = @conference.public_email
  %br
  = @conference.additional_info

= semantic_form_for @feedback do |f|
  = f.inputs do
    - unless signed_in?
      = f.input :email
    = f.input :title, label: t('projects.feedbacks.title')
    = f.input :body, label: t('projects.feedbacks.body')
  = f.actions do
    = f.action :submit, button_html: { class: "btn btn-primary" }, label: t('projects.feedbacks.submit')
