= link_to @conference.domain, root_path, class: 'brand'
%ul.nav
  - if can? :moderate, @conference
    %li{ class: ["organizers"].include?(params[:controller]) ? "active" : "" }
      = link_to t('projects.menu.admin'), "#", class: "dropdown-toggle", data: { toggle: "dropdown" }
      %ul.dropdown-menu
        %li{ class: params[:controller] == "organizers" ? "active" : "" }
          = link_to t('projects.menu.organizers'), organizers_path
        %li{ class: params[:controller] == "feedbacks" ? "active" : "" }
          = link_to feedbacks_path do
            = t('projects.menu.feedbacks')
            = "(#{@conference.feedbacks.with_state(:unread).count})" if @conference.feedbacks.with_state(:unread).count > 0
        %li= link_to t('projects.menu.newsletters'), "#"
        %li= link_to t('projects.menu.settings'), settings_path

  - if @conference.module_enabled?("news")
    %li{ class: params[:controller] == "news_articles" ? "active" : "" }
      = link_to t('projects.menu.news'), news_articles_path

  - if @conference.module_enabled?("reports")
    %li{ class: params[:controller] == "reports" ? "active" : "" }
      = link_to t('projects.menu.topics'), reports_path

  - if @conference.module_enabled?("participants")
    %li{ class: params[:controller] == "participants" ? "active" : "" }
      = link_to t('projects.menu.participants'), participants_path

  - if @conference.module_enabled?("contacts")
    %li{ class: params[:controller] == "projects" && params[:action] == "contacts" ? "active" : "" }
      = link_to t('projects.menu.contacts'), contacts_path

  - if user_signed_in? && @conference.module_enabled?("personal_page")
    %li{ class: params[:controller] == "users" ? "active" : "" }
      = link_to(t('menu.account'), edit_user_registration_path)

  - if user_signed_in?
    %li
      = link_to(t('menu.sign_out'), destroy_user_session_path, method: 'delete')

  - unless user_signed_in?
    %li{ class: params[:controller] == "sessions" ? "active" : "" }
      = link_to(t('menu.sign_in'), new_user_session_path)

  - unless user_signed_in?
    %li{ class: params[:controller] == "registrations" ? "active" : "" }
      = link_to(t('menu.sign_up'), new_user_registration_path)
