%h3= @news_article.title
.well
  - if can? :moderate, @conference
    .controls
      = link_to edit_news_article_path(@news_article) do
        %i.icon-edit
      = link_to news_article_path(@news_article), method: :delete, confirm: t('projects.news.confirms.destroy') do
        %i.icon-remove

  %p= simple_format @news_article.body
  %small.muted= "#{t('projects.news.published_by')} #{human_date(@news_article.created_at)} #{t('projects.news.by_user')} #{@news_article.organizer.full_name}"
