= link_to "vsuconf.ru", root_path, class: 'brand'
%ul.nav
  %li= link_to(t('menu.conferences'), conferences_path)

  - if user_signed_in?
    %li
      = link_to(t('menu.account'), edit_user_registration_path)

  - if user_signed_in?
    %li
      = link_to(t('menu.sign_out'), destroy_user_session_path, method: 'delete')

  - unless user_signed_in?
    %li
      = link_to(t('menu.sign_in'), new_user_session_path)

  - unless user_signed_in?
    %li
      = link_to(t('menu.sign_up'), new_user_registration_path)
